
.progressive-Img {
    width: 85%;
    height: 85%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: filter 0.25s ease-out;

    /* this misbehaves with animations sometimes */
    filter: drop-shadow(0px 0px 2px #000000); 
}

