.commissionPage {
    border: 2px solid skyblue;
    width: 100dvw;
    height: 100dvh;
    overflow: auto;
    position: relative;
    color: white;
}

.scrollCommission {
    border: 2px solid black;
    width: 100%;
    height: 500dvh;
}

.ringBox {
    border: 2px solid yellow;
    width: 100dvw;
    height: 100dvh;
    position: sticky;
    top: 0;

    /* background-color: transparent; */
    background-image: url('../../images/oneRing.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.comSection {
    border: 2px solid red;
    width: 100%;
    height: 100dvh;
    position: fixed;
    top: 0;
    pointer-events: none;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

