.paintStrip {
    border: 2px solid yellowgreen;
    color: white;
    /* height: 100dvh; */

}

.stripIt {
    /* border: 2px solid magenta; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 25dvh;
}
.theLine {
    border: 0.5px solid white;
    height: 100%;
}
.blueBox,
.redBox {
    /* border: 2px solid blue; */
    width: 20dvh;
    height: 20dvh;
    overflow: hidden;
}
.redBox {
    /* border: 2px solid red; */
}
.paintImage,
.stripImage {
    /* border: 2px solid white; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.stripImage {
    filter: grayscale(100%)
}
