.contactView {
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background: radial-gradient(circle, #929292 0%, #707070 40%, #0a0a0a 100%);
  overflow: hidden;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 13dvh;
  gap: 5dvh;

}

.contactView p {
  /* border: 2px solid white; */
  font-size: 2rem;
  font-family: wildGrowth;
}

.contactView::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(120deg, #0091e4ee 20%, #a300e4ee 60%),
    url('../../images/texture1.png');
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  mix-blend-mode: overlay;
  pointer-events: none;
  opacity: 0.5;
}

.contactFett {
  position: absolute;
  top: 0;
  left: 0;
  top: 60%;
  left: 35%;
  transform: translate(-50%, -50%) rotate(-2.5deg);
  width: 170%;
  height: 150%;
  object-fit: contain;
  z-index: 0;
  filter: opacity(0.15) blur(3px);
  mix-blend-mode: overlay;
}

.contactReturn {
  /* border: 2px solid white; */
  position: absolute;
  top: 3%;
  right: 5%;
  z-index: 1;
  font-size: 60px;
}


.contactForm {
  /* border: 2px solid white; */
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 100;
  /* font-size: 3dvh; */
  gap: 2dvh;
}

.submitContact {
  /* border: 2px solid white; */
  border: none;
  border-radius: 10px;
  box-shadow: -2px 2px 5px black;
  width: 8rem;
  height: 2.5rem;

}



/* input / textarea css */
.input-group {
  /* border: 2px solid blue; */
  position: relative;
  width: 80%;
}

.input-group input {
  width: 100%;
  padding: 0.8rem 0;
  font-size: 1.15rem;
  color: rgb(246, 255, 169);
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 0.1rem solid white;
  padding-left: 0;
}

.input-group label {
  color: white;
  font-size: 1.15rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: 0.3s ease-in-out;
}

.input-group input:focus+label,
.input-group input:valid+label {
  top: 5%;
  color: cyan;
  font-size: 0.8rem;
}

.input-group input:not(:focus)+label {
  color: #e0e0e0;
}

.input-group .bottomline {
  height: 0.1rem;
  width: 100%;
  background-color: cyan;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scale(0);
  transform-origin: left;
  transition: 0.5s ease-in-out;

}

.input-group input:focus~.bottomline {
  transform: scaleX(1);
}

.realTextArea {
  width: 0;
  height: 0;
  opacity: 0;
}

.fakeTextArea {
  border: 1px solid white;
  width: 90%;
  height: 115px;
  padding: 0.5rem;
}

.realTextArea:focus+.fakeTextArea {
  border-color: cyan;
}

.inline-block {
  display: inline-block;
  margin-right: 1px;
}

.space {
  display: inline-block;
  width: 0.3em;
}

.sentSuccess {
  border: 2px solid lime;
  background-color: #000000ab;
  position: absolute;
  top: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  position: absolute;
}



@media (min-width: 430px) {
  .contactView {
    width: 420px;
  }

  .fakeTextArea {
    /* height: 16dvh; */
  }
  
}