.groupDisplay {
    --shade-group: #9300c9;
    border: 2px solid blue;
    height: 100dvh;
    width: 100dvw;
    background: radial-gradient(circle, #929292 0%, #707070 40%, #0a0a0a 100%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

}

.groupDisplay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--shade-group);
    background-image: url('../../images/texture.png');
    background-size: cover;
    mix-blend-mode: overlay;
    pointer-events: none;
    opacity: 0.5;
}

.groupTitle {
    /* border: 2px solid white; */
    width: 90%;
    position: fixed;
    top: 5%;
    font-size: 8dvh;
    text-align: right;
}

.returnButton,
.groupCommission {
    background-color: transparent;
    border: none;
    position: absolute;
    z-index: 30;
    bottom: 5%;
    left: 5%; 
}

.groupCommission {
    left: auto;
    right: 5%;
}

.returnButton svg,
.groupCommission svg {
    width: 110px;
    height: 110px;
    color: #ffffff22;
    stroke-width: 3;
}
