.miniatureGallery {
    border: 2px solid ghostwhite;
    width: 100%;
    /* width: 100dvw;
    height: 100dvh; */
    position: relative;
    /* overflow-y: scroll; */
}

.logoContainer {
    border: 2px solid magenta;
    width: 100%;
    position: relative;
}
 
.featureElement {
    background-color: black;
    height: 100dvh;
    position: sticky;
    top: 0;
    background-image: url(../../images/oneRing.png);
    background-position: center;
    background-repeat: no-repeat;
}
.doubleElement {
    background-color: black;
    height: 100dvh;
    position: sticky;
    top: 0;
    background-image: url(../../images/oneRing.png);
    background-position: center;
    background-repeat: no-repeat;
}

.emptyElement {
    border: 2px solid blue;
    height: 70dvh;
}

.parallaxContainer {
    border: 2px solid lime;
    display: flex;
    /* display: relative; */
}
.parallaxBox {
    width: 20dvh;
    height: 20dvh;
    position: relative;
    display: flex;
}
.blue {
    background-color: blue;
}
.red {
    background-color: red;
}

.parallaxImage {
    width: 35dvh;
    height: 30dvh;
    position: relative;
    object-fit: cover;
}

