.miniatureGallery {
    border: 2px solid ghostwhite;
    width: 100%;
    /* width: 100dvw;
    height: 100dvh; */
    position: relative;
    /* overflow-y: scroll; */
}

.logoContainer {
    border: 2px solid magenta;
    width: 100%;
    position: relative;
}
 
.featureElement {
    background-color: black;
    height: 100dvh;
    position: sticky;
    top: 0;
    background-image: url(../../images/oneRing.png);
    background-position: center;
    background-repeat: no-repeat;
}
.doubleElement {
    background-color: black;
    height: 100dvh;
    position: sticky;
    top: 0;
    background-image: url(../../images/oneRing.png);
    background-position: center;
    background-repeat: no-repeat;
}

.emptyElement {
    border: 2px solid blue;
    height: 70dvh;
}

