.navigation {
  background-color: white;
  border: 2px solid blue;
  height: var(--nav-height);
  height: 50px;
  width: 100%;
  padding: 0 2dvh;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* position: sticky; */
  z-index: 30;
}

.title {
  font-family: wildGrowth;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 3.5dvh;
  margin: 0.5dvh auto 0 5dvh;
}

.stingrayLogo {
  /* border: 2px solid red; */
  width: 10dvh;
  height: 10dvh;
  position: fixed;
  top: 1.5dvh;
  left: 1.5dvh;
  z-index: 40;
  filter: drop-shadow(4px 4px 4px black)
}

.navOptions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2dvh;
}





/* menu */
.menuLabel {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  z-index: 40;
  /* cursor: pointer; */
  -webkit-tap-highlight-color: transparent;
}

.navButton,
.menuLabel::before,
.menuLabel::after {
  content: '';
  border: none;
  background-color: var(--foreground);
  border-radius: 10px;
  width: var(--bar-width);
  height: var(--bar-height);
  transform-origin: left center;
  transition:
    opacity var(--animation-timing),
    width var(--animation-timing),
    translate var(--animation-timing),
    rotate var(--animation-timing);
}

.menuLabel.open::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2)
}

.menuLabel.open::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2)
}

.navButton.open {
  opacity: 0;
  width: 0;
}







.sidebar.open {
  translate: 0%;
  opacity: 1;
}

.sidebar {
  position: fixed;
  border: 2px solid red;
  top: var(--nav-height);
  right: 0;
  translate: 15%;
  transition: translate var(--animation-timing), opacity var(--animation-timing);
  padding: 0.5rem 1rem;
  background-color: var(--foreground);
  color: var(--background);
  width: 50%;
  z-index: -10;
  opacity: 0;
}