* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

@font-face {
  font-family: wildGrowth;
  src: url(./fonts/WildGrowth.ttf);
}
.wildGrowth {
  font-family: wildGrowth;
}

.stingrayScenics {
  color: white;

  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  perspective: 10px;
}

.parallax {
  font-family: wildGrowth;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
  /* border: 2px solid yellow; */
}

.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.background {
  transform: translateZ(-10px) scale(2);
  /* border: 2px solid magenta; */
}

.foreground {
  transform: translateZ(-5px) scale(1.5);
  right: -5%;
}
.logo {
  /* border: 2px solid yellow; */
  width: 50%;
  height: auto;
}

.title {
  font-family: wildGrowth;
  width: 97%;
  margin-top: 5%;
  position: absolute;
  color: white;
  text-align: center;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
h1 {
  /* border: 2px solid gold; */
  padding: 3%;
  font-size: 8rem;
  z-index: 15;
  letter-spacing: 12px;

  /* text gradient */
  color: transparent;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  background: linear-gradient( #c2c52d, 30%, #099a09, 60%, #c2c52d);
  background-clip: text;
}
.sceneTitle {
  position: relative;
  left: 5%;
  padding-bottom: 110px;
}


.intro {
  border: 2px solid grey;
  border-radius: 10px;
  margin: 0% 10%;
  padding: 20px 10px;
  text-align: center;
  font-size: 2rem;
  /* padding: 2rem; */
  background-color: #333333aa;
  color: white;
  width: 600px;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.bodyOne {
  border: 2px solid #099a09;
  margin: 0% 10%;
  font-size: 2rem;
  padding: 2rem;
  background-color: #333;
  color: white;
  width: 65%;
}
.modelDisplay {
  /* border: 2px solid #099a09; */
  margin: 0% 10%;
  font-size: 2rem;
  /* padding: 2rem; */
  /* background-color: #333; */
  color: white;
  width: 65%;
  width: 650px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer {
  border: 2px solid #099a09;
  font-size: 2rem;
  padding: 2rem;
  background-color: #333;
  color: white;
}

.normalDiv {
  /* border: 2px solid gold; */
  position: relative;
  right: 25%;
  margin: 0;
  font-size: 5rem;
  padding: 10px 10px 90px 85px;
  letter-spacing: 8px;

  color: transparent;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  background: linear-gradient( #c2c52d, 30%, #099a09, 60%, #c2c52d);
  background-clip: text;


}


.introPhoto {
  width: 300px;
  height: auto;
  border: 2px solid black;
  border-radius: 10px;
}
.modelPhoto {
  width: 300px;
  height: auto;
  border: 2px solid black;
  border-radius: 10px;
  margin: 8px;
  box-shadow: 0 0 10px black;

}







