.galleryPage {
    border: 2px solid blue;
    /* background-color: rgb(18, 18, 18); */
    /* background: radial-gradient(circle, rgb(30, 30, 30) 0%, rgb(20, 20, 20) 40%, rgb(10, 10, 10) 100%); */
    background: radial-gradient(circle, #c1c1c1 0%, rgb(143, 143, 143) 40%, rgb(10, 10, 10) 100%);
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    /* perspective: 1000px; */
}

/* .galleryPage::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../images/texture.png');
    object-fit: cover;
    opacity: 1.0;
    pointer-events: none;
} */

.galleryPage::after {
    /* content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, rgba(255, 0, 150, 0.2) 20%, rgba(0, 200, 255, 0.2) 60%);
    mix-blend-mode: overlay;
    pointer-events: none;
    background: url('../../images/texture.png'); */

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 
        linear-gradient(120deg, rgba(255, 0, 150, 0.2) 20%, rgba(0, 200, 255, 0.2) 60%), 
        url('../../images/texture.png'); /* Combine layers */
    background-size: cover; 
    /* background-position: center; */
    background-blend-mode: overlay, normal; 
    /* Blend gradient and texture */
    mix-blend-mode: overlay; /* Blend with the underlying content */
    pointer-events: none; /* Ensure it's non-interactive */
    opacity: 0.45;
}


.sectionIcon {
    border: 2px solid white;
    width: 50dvh;
    height: 50dvh;
    position: absolute;
    top: -5%;
    left: -20%;
}


.gallerySection {
    border: 2px solid red;
    overflow: hidden;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); /* Adjust values as needed */
    height: 90dvh;
    width: 90%;
    /* background-color: #0b012d55; */
    perspective: 1000px;
    transform-style: preserve-3d;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}
.gallerySection > div {
    transform-style: preserve-3d;
}

.displayOne {
    border: 2px solid gold;
    flex: 1;
    width: 100%;
}
.displayTwo {
    border: 2px solid purple;
    flex: 1;
    width: 100%;

}







/* gradient styles */

/* .swGradient {
    background-image: linear-gradient(
      50deg,
      hsl(240deg 100% 4%) 0%,
      hsl(238deg 76% 10%) 22%,
      hsl(230deg 100% 15%) 43%,
      hsl(239deg 89% 21%) 61%,
      hsl(230deg 90% 28%) 75%,
      hsl(216deg 100% 33%) 87%,
      hsl(208deg 100% 39%) 95%,
      hsl(202deg 100% 44%) 100%
    );
  } */


/* const gradientColor = useTransform(homeContainer, [0, 1], [
    'linear-gradient(90deg, #ff7eb3, #ff758c)', // Gradient at start
    'linear-gradient(90deg, #6a11cb, #2575fc)', // Gradient at end
])
const defaultGradient = 'linear-gradient(90deg, #ff7eb3, #ff758c)'
const gradientStyle = useMotionTemplate`${gradientColor}` */




