.homePage {
    border: 2px solid blue;
    width: 100dvw;
    height: 100dvh;
    display: block;
    overflow-y: scroll;
    /* background-color: blue; */
}

.bannerDisplay {
    /* border: 2px solid red; */
    color: white;
}

.bannerImage {
    width: 100%;
    height: 40dvh;
    height: 300px;
    object-fit: cover;
    position: relative;
}

.homeHeader {
    border: 2px solid orangered;
    height: 30dvh;
    height: 250px;
    position: relative;
    /* background-color: var(--background); */
}

/* title components */



.websiteTitle {
    /* border: 2px solid pink; */
    width: 100%;
    padding: 0% 2.5%;
    /* margin-top: -14dvh; */
    margin-top: -85px;
    display: flex;
    flex-flow: column nowrap;
}

.titleStingray,
.titleScenics {
    /* border: 2px solid lime; */
    /* font-size: 8dvw; */
    font-size: 40px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    /* font-family: wildGrowth; */
    perspective: 1000px;
}
.titleStingray {
    justify-content: flex-start;
}
.titleScenics {
    justify-content: flex-end;
    margin-top: -2dvh;
}

.sectionTitle {
    /* border: 2px solid blue; */
    /* display: flex; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    transform-style: preserve-3d;
}

.titleCharacter {
    /* border: 2px solid grey; */
    display: inline-block;
    /* transform: rotateY(0deg); */
    /* transition: transform 0.3s ease, color 0.3s ease; */
    transition: color 0.3s ease;
}

/* Add 3D rotation effect when hovering over the title */
.titleCharacter:hover {
    /* transform: rotateY(360deg); */
    color: #92d003;
}
.titleCharacter {
    text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
    /* -webkit-text-stroke: 1px green; */
}



.tinyWorlds {
    border: 2px solid yellow;
    height: 1800px;
    position: relative;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.stickyDetails {
    border: 2px solid green;
    position: sticky;
    top: 100px;
    height: 100px;
}
.stickyDetails h1 {
    text-align: center;
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* position: absolute;
    left: 50%;
    top: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 100%;
}

.stickyImages {
    border: 2px solid purple;
    /* height: 500px; */
    position: sticky;
    top: 200px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.stickImage {
    border: 2px solid white;
    width: 225px;
    height: 225px;
    object-fit: cover;
}




/* Miniature Section */

.miniatureSection {
    border: 2px solid purple;
    width: 100%;
    height: 2000px;
    /* background-color: #1a0c0c; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    
}
.titleMiniatures {
    border: 2px solid purple;
    position: sticky;
    top: 100px;
}
.titleMiniatures h1 {
    text-align: center;
    font-size: 72px;
    /* background: -webkit-linear-gradient(#eee, #333); */
    /* background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* position: absolute;
    left: 50%;
    top: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 100%;
    height: 100px;
}


.homeMiniDisplay {
    border: 2px solid red;
    height: 500px;   
    width: 90%;
    /* width: 500px;  */
    position: sticky;
    top: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}












